html {
    box-sizing: border-box;
    font-size: 62.5%;
    /**Reset para Rems - 62.5% = 10px de 16 **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
*/

body {
    background-color: #ffffff;
    color: #514F59;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
}

h1 {
    font-size: 2.2rem;
    margin: 0;
}

header {
    background-color: #5941A9;
    padding: 1rem;
    color: white;
    position: relative;
    z-index: 5;
}

button {
    border: none;
    padding: 1rem;
    color: white;
}

section {
    display: none;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

.mar_left_5 {
    margin-left: .5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.icono_menu_movil {
    background: none;
}

.icono_menu_movil i {
    font-size: 2.5rem;
}

.menu_movil_contenedor {
    width: 100%;
    position: absolute;
    z-index: 1;
    transform: translateY(-11rem);
    transition: transform .3s ease-in-out;
}

.menu_movil_open {
    transform: translateY(0);
}

.menu_movil {
    background-color: #5941A9;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu_movil a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.display {
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.figura {
    flex: 0 0 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figura span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.cuadrado_contenedor,
.circulo_contenedor,
.triangulo_contenedor {
    display: flex;
    align-items: center;
    position: relative;
}

.formulas_contenedor {
    flex: 0 0 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
}

.formula {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.formulas_nombre {
    font-weight: 700;
}

.formulas {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin-top: .3rem;
}

.formula:last-of-type {
    margin-bottom: 0;
}

.cuadrado {
    border: 1px solid #514F59;
    width: 10rem;
    height: 10rem;
}

.circulo {
    border: 1px solid #514F59;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
}

.circulo::before {
    content: "";
    position: absolute;
    background-color: #514F59;
    width: 50%;
    height: .1rem;
    top: 5rem;
}

.circuloRadio {
    position: absolute;
    top: 3rem;
    left: 2rem;
}

.triangulo {
    width: 0;
    height: 0;
    position: relative;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 7rem solid #514F59;
}

.triangulo::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 4.8rem solid transparent;
    border-right: 4.8rem solid transparent;
    border-bottom: 6.6rem solid #ffffff;
    left: -4.8rem;
    top: .3rem;
}

.lineTriangulo {
    width: .1rem;
    height: 6.8rem;
    top: .2rem;
    background-color: #514F59;
    position: absolute;
}

.alturaTriangulo {
    position: absolute;
    top: 2.7rem;
    left: -1.5rem;
}

.contenedor_switch {
    display: flex;
    justify-content: center;
}

.switch {
    background-color: #6D72C3;
    border-radius: 2rem;
    width: 15rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.switch::after {
    content: "";
    display: block;
    position: absolute;
    width: 8.5rem;
    height: 4.5rem;
    background-color: #514F59;
    border-radius: 2rem;
    transition: right .3s ease;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
    top: -.3rem;
    right: -2rem;
}

.switch_perimetro::after {
    right: 6.5rem;
}

.titulo_resultado {
    display: block;
    text-align: center;
    margin: 2rem 0 .5rem 0;
}

.resultado {
    display: block;
    width: 100%;
    border: 1px solid rgb(223, 223, 223);
    border-left: none;
    border-right: none;
    padding: .5rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
}

.formulario {
    padding: 1rem 0;
    margin-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

.ocultar {
    display: none;
}

fieldset {
    border: none;
}

legend {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: .5rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: .3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.btn {
    border-radius: .5rem;
    background-color: #5941A9;
    font-weight: 700;
}

.mostrar {
    display: block;
}